.hypertext {
  text-align: left;
  position: absolute;
  left: 2rem;
  top: 8rem;
  color: #fff;
  margin-left: -8rem;
  width: 500px;
  font-family: 'Courier Prime Sans';
  -moz-transform: translateX(9rem);
  &__content {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__line {
    padding-right: 10px;
    color: palegreen;
    & > ul  > li {
      padding: 10px 0;
      margin: -1rem;
      list-style: none;
    }
  }
  &__span {
    color: #fefefe;
    text-shadow: 0 0 3px #f3f3f3;
  }
}
